/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

.custom_footer {
}

.footer_font {
    font-variant: all-small-caps;
    font-size: .75em;
}

.footer_border {
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.footer_height {
    height: 5%;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}